span.keystroke {
 border-width: 1;
 border-style: solid;
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: 75%;
 padding: .2em;
}

span.pin {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: .85em;
}

span.signal {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
}

td.pin {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 padding-right: 2em;
 text-align: right;
}

td.signal {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 text-align: left;
}

td.wire {
 font-style: italic;
}
