p.formula {
 font-style: italic;
 margin-left: 3em;
}

span.address {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: .85em;
}

span.library {
 font-style: italic;
}

span.menu {
 font-weight: bold;
}

span.path {
 font-size: .85em;
 font-weight: bold;
}

span.pin {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: .85em;
}

td {
 text-align: center;
}
