/*
 * Solarized color scheme
 *
 * base03=#002b36
 * base02=#073642
 * base01=#586e75
 * base00=#657b83
 * base0=#839496
 * base1=#93a1a1
 * base2=#eee8d5
 * base3=#fdf6e3
 * yellow=#b58900
 * orange=#cb4b16
 * red=#dc322f
 * magenta=#d33682
 * violet=#6c71c4
 * blue=#268bd2
 * cyan=#2aa198
 * green=#859900
 */

a:link, a:visited {
 color: #268bd2;
 text-decoration: underline;
}

a:active, a:hover {
 color: #dc322f;
 text-decoration: underline;
}

blockquote {
 background: #ffffe0;
 border: 1px solid #073642;
 font-style: italic;
 padding: .5em;
}

body {
 /* dark background
  *  background: #002b36;
  */
 background: #fdf6e3;
 color: #586e75;
 font-family: Calibri, Tahoma, "DejaVu Sans", Arial, sans-serif;
 font-size: 120%;
 line-height: 1.4em;
 margin: auto;
 max-width: 42em;
 padding-left: 1.5em;
 text-align: justify;
}

del {
 color: #93a1a1;
}

h1, h2, h3, h4 {
 color: #b58900;
 font-family: Cambria, Georgia, "URW Bookman L", "Times New Roman", Times, serif;
 margin-top: 2em;
 margin-bottom: 1em;
}

h1 {
 font-size: 1.5em; 
}

h2 {
 font-size: 1.2em;
}

h3 {
 font-size: 1em;
}

h4 {
 font-size: 1em;
 font-style: italic;
 font-weight: normal;
}

img {
 margin-left: 3em;
 margin-top: 2em;
 margin-bottom: 2em;
}

ins {
 font-weight: bold;
 text-decoration: none;
}

li {
 margin-bottom: .3em;
}

li.ref {
}

ol {
 margin-bottom: 0em;
 margin-top: .5em;
 margin-right: 1.5em;
}

p {
 margin-top: .5em;
 margin-bottom: .5em;
}

p.disclaimer {
 color: #dc322f;
 font-size: 75%;
 font-style: italic;
 padding: 1em;
}

p.footnote {
 font-size: .8em;
 font-style: italic;
}

p.footnote--- {
 border-top: 1px solid #073642;
 margin-top: 3em;
 width: 20em;
}

p.modification-notice {
 color: #93a1a1;
 font-style: italic;
 font-size: .9em;
 margin-top: 5em;
 text-align: right;
}

p.note {
 color: #d33682;
 font-style: italic;
}

p.page-path {
 color: #93a1a1;
 font-style: italic;
 font-size: .9em;
 text-align: right;
}

p.update {
 color: #cb4b16;
}

.todo {
 color: #dc322f;
 font-weight: bold;
}

code {
 font-family: Consolas, "Courier New", monospace;
 font-size: .9em;
}


pre.code {
 background: #eee8d5;
 border: 1px solid #073642;
 font-family: Consolas, Monaco, "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: .8em;
 line-height: 1.2em;
 padding: 1em;
 white-space: pre-wrap; /* line wrap */
 width: 50em;
}

span.code {
 font-family: Consolas, Courier New, monospace;
 font-size: .9em;
}

span.term {
 font-style: italic;
}

table {
 font-size: .9em;
 margin-bottom: 3em;
 margin-left: 3em;
 margin-top: 3em;
}

td {
 padding-left: .5em;
 padding-right: .5em;
}

td.centered {
 text-align: center;
}

td.sub-header {
 border-bottom: 1px solid #073642;
 font-style: italic;
}

th {
 border-bottom: 1px solid #073642;
 padding-left: .5em;
 padding-right: .5em;
}

th.main-header {
 border-top: 1px solid #073642;
 border-bottom: 0px;
}

ul {
 list-style-type: square;
 margin-bottom: 0em;
 margin-top: .5em;
 margin-right: 1.5em;
}

dt {
 font-style: italic;
}