li {
 margin-bottom: 0em;
}

p.formula {
 font-style: italic;
 margin-left: 5em;
 margin-top: .5em;
}

span.command {
 font-style: italic;
}

span.menu {
 font-weight: bold;
}

span.pin {
 font-style: italic;
 font-size: .85em;
}

span.variable {
 font-weight: bold;
}

span.window {
 font-weight: bold;
}


