li.question {
 color: #268bd2;
 font-weight: bold;
}

li.answer {
 color: #cb4b16;
 font-weight: bold;
}

p.embedded {
 padding: 1em;
 text-align: center;
}

span.code {
 background-color: #eee8d5;
 border-width: 1px;
 border-style: solid;
 color: #586e75;
 padding: .1em;
}