p.embedded {
 padding: 1em;
 text-align: center;
}

p.formula {
 font-style: italic;
 margin-left: 5em;
 margin-top: .5em;
}

span.code {
 background-color: #eee8d5;
 border-width: 1px;
 border-style: solid;
 color: #586e75;
 padding: .1em;
}

span.variable {
 color: #d33682;
 font-weight: normal;
}
   
table.formula {
 font-style: italic;
 font-size: 1em;
 margin-left: 5em;
 margin-top: .5em;
 padding: 0em;
}

th {
 text-align: center;
}

td.label {
 text-align: center;
}
   
td.number {
 text-align: right;
}

tr.epoch td {
 border-top: 1px solid #93a1a1;
}

tr.error td {
 color: #dc322f;
 font-weight: bold;
}