a:link, a:visited {
 color: #268bd2;
 text-decoration: underline;
}

a:active, a:hover {
 color: #dc322f;
 text-decoration: underline;
}

body {
 background: #eee8d5;
 color: #586e75;
 font-family: Candara, Verdana, Arial, Sans Serif;
 margin-left: 0em;
 padding-left: 1.5em;
}

h1 {
 font-family: Cambria, Times New Roman, Times, Serif;
 font-size: 1.5em; 
 margin-top: 2em;
 margin-bottom: 1em;
}

p.date {
 font-size: 75%;
 font-style: italic;
 margin-top: .25em;
 margin-bottom: 0em;
}

p.tool {
 font-size: 75%;
 font-style: italic;
 margin-top: .25em;
 margin-bottom: 0em;
}

table.toxicity {
 margin-top: 3em;
}

tr {
}

th {
 padding-bottom: 1em;
}

th.path {
 text-align: left;
}

th.toxicity {
 text-align: right;
}

td {
 font-size: .75em;
}

td.path {
 border-bottom: 1px solid #586e75;
 padding: .2em;
 padding-right: 7em;
 vertical-align: middle;
}

td.toxicity {
 border-bottom: 1px solid #586e75;
 padding-left: 3em;
 vertical-align: middle;
}

div {
 float: left;
 height: 1em;
}

div.lines {
 background: #cb4b16;
}

div.complexity {
 background: #b58900;
}

div.statements {
 background: #2aa198;
}

div.maximum-block-depth {
 background: #268bd2;
}

div.calls {
 background: #6c71c4;
}

table.legend {
 font-size: .75em;
}

td.legend-caption {
 border: hidden;
 padding-right: 1em;
 font-style: bold;
 text-align: left;
}

td.legend {
 border: hidden;
 padding-left: .2em;
 padding-right: 1em;
 text-align: left;
}

td.lines {
 background: #cb4b16;
 padding-right: 1em;
 text-align: left;
}

td.complexity {
 background: #b58900;
 padding-right: 1em;
 text-align: left;
}

td.statements {
 background: #2aa198;
 padding-right: 1em;
 text-align: left;
}

td.maximum-block-depth {
 background: #268bd2;
 padding-right: 1em;
 text-align: left;
}

td.calls {
 background: #6c71c4;
 padding-right: 1em;
 text-align: left;
}

table.thresholds {
}

th.thresholds {
 font-size: .75em;
}

td.threshold-name {
 padding-right: 1em;
}

td.threshold-level {
 padding-left: 1em;
 padding-right: 1em;
}

td.threshold-value {
 padding-right: 1em;
 text-align: right;
}

table.details {
}

td.details-file-first {
 border-bottom: 1px solid #586e75;
 font-size: 1em;
 padding-bottom: .5em;
}

td.details-file {
 border-bottom: 1px solid #586e75;
 font-size: 1em;
 padding-top: 3em;
 padding-bottom: .5em;
}

td.details-metric {
 font-weight: bold;
 padding-top: .5em;
 text-align: left;
}

td.details-label {
 font-style: italic;
 padding: .1em;
}

td.details-value {
 font-style: italic;
 padding: .1em;
 text-align: right;
}

td.top {
 font-style: italic;
 padding-top: 1em;
}

tr.detail-even {
}

tr.detail-odd {
/* inverse
 color: #eee8d5;
 background: #586e75;
*/
/* light background
 background: #fdf6e3;
*/
}
