img {
 border: 1px solid #073642;
 display: block;
 margin-bottom: 0em;
 margin-left: auto;
 margin-right: auto;
 margin-top: 2em;
}

p.illustration {
 font-size: 75%;
 font-weight: bold;
 margin-bottom: 2em;
 margin-top: .2em;
 text-align: center;
}

span.file {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: .9em;
 font-weight: bold;
}
