table {
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: .9em;
}

th {
 text-align: left;
}

th.ascii-bit-heading {
 background: #eee8d5;
}

table.ascii {
 text-align: center;
}

td.ascii-bit-0 {
 background: #eee8d5;
 color: #b58900;
}

td.ascii-bit-1 {
 background: #eee8d5;
 color: #cb4b16;
}

td.ascii-bit-2 {
 background: #eee8d5;
 color: #d33682;
}

td.ascii-bit-3 {
 background: #eee8d5;
 color: #6c71c4;
}

td.ascii-bit-4 {
 background: #eee8d5;
 color: #268bd2;
}

td.ascii-bit-5 {
 background: #eee8d5;
 color: #2aa198;
}

td.ascii-bit-6 {
 background: #eee8d5;
 color: #859900;
}

td.ascii-bit-heading {
 background: #eee8d5;
 font-weight: bold;
}

td.ascii-char {
 width: 3em;
 font-weight: bold;
}

td.ascii-col-heading {
 font-weight: bold;
 text-align: right;
}

td.byte {
 text-align: center;
 font-family: Consolas, Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
}

td.byte-count {
 text-align: center;
}

td.bom {
 text-align: center;
}

td.endianness {
 text-align: center;
}

td.character {
 color: #268bd2;
 font-weight: bold;
 text-align: center;
}

td.wrong-character {
 color: #cb4b16;
 font-weight: bold;
 text-align: center;
}

td.encoding {
 text-align: center;
 padding-bottom: 1em;
 padding-top: 1em;
}

span.bit-0 {
 color: #b58900;
}

span.bit-1 {
 color: #cb4b16;
}

span.bit-2 {
 color: #d33682;
}

span.bit-3 {
 color: #6c71c4;
}

span.bit-4 {
 color: #268bd2;
}

span.bit-5 {
 color: #2aa198;
}

span.bit-6 {
 color: #859900;
}

span.bit-pos {
 color: #93a1a1;
}
