span.code {
 border: 1px solid #586e75;
 background-color: #eee8d5;
 padding: .2em;
}

table {
 font-size: .75em;
 margin: 0em;
 padding-bottom: 3em;
 padding-top: 3em;
}

td {
 white-space: nowrap;
}