img.snapshot {
 border-color: black;
 border-width: 1;
 border-style: solid;
}

li.input {
 color: #6c71c4;
 font-style: italic;
}

li.output {
 color: #cb4b16;
 font-style: italic;
}

p.snapshot {
 margin-left: 1em;
}

table.code {
 background: #eee8d5;
 border: 1px solid #073642;
 font-family: Consolas, Monaco, "Nimbus Mono L", "Courier New", Courier, monospace;
 font-size: .9em;
 margin-left: 0em;
 padding: 1em;
}

td.label {
 padding-right: 2em;
 white-space: nowrap;
}

td.opcode {
 padding-right: 2em;
 white-space: nowrap;
}

td.hex {
 white-space: nowrap;
 width: 99%;
}