blockquote
{
	text-align: center;
	font-style: italic;
	padding: 0.5em;
}

pre.code
{
	font-family: Consolas, Courier New, monospace;
	font-size: 90%;
}

span.code
{
	font-family: Consolas, Courier New, monospace;
	font-size: 90%;
}
