p.warning {
 font-weight: bold;
}

span.file-name {
 font-style: italic;
}

span.function {
 font-family: Consolas, Courier New, monospace;
}

span.library {
 font-style: italic;
}

span.object {
 font-family: Consolas, Courier New, monospace;
}
