td {
 padding-bottom: .1em;
 padding-left: 1em;
 padding-right: 1em;
 padding-top: .1em;
}

td.macro {
 font-family: Consolas, Monaco, "Nimbus Mono L", "Courier New", Courier, monospace;
}

td.cpu {
 text-align: center;
}

th {
 padding: .5em;
}